<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="bootstrap.php">
    <testsuites>
        <testsuite name="mutex">
            <directory>../src/ErlMutex/Test/</directory>
        </testsuite>
        <testsuite name="profiler">
            <directory>../src/ErlMutex/Test/Model/</directory>
            <directory>../src/ErlMutex/Test/Validator/</directory>
            <directory>../src/ErlMutex/Test/Service/ProfilerTest.php</directory>
            <directory>../src/ErlMutex/Test/Service/OrderTest.php</directory>
        </testsuite>
        <testsuite name="all">
            <directory>../</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-html" target="./log/report" charset="UTF-8"
            yui="true" highlight="true"
            lowUpperBound="50" highLowerBound="80"/>
    </logging>
</phpunit>