@padding: 10px;
@yellow: #ffff00;
@green: #50C878;

body {
  font-size: 14px;

  .container {
    padding: @padding;

    .requestUri {
      padding: @padding;

      h1 {
        font-size: 18px;
        font-weight: bold;
      }
      .requestHash {
        p {
          font-size: 10px;
          color: #cccccc;
        }
        th, td {
          padding: 10px;
        }
        .base {
          background-color: @green;
        }
        .warning {
          background-color: @yellow;
        }
      }
    }
  }
}