@padding: 10px;

.container {
  padding: @padding;

  .requestUri {
    padding: @padding;

    p {
      color: #00ff00;
    }
    .requestHash {
      p {
        color: #cccccc;
      }
      td {
        padding: 10px;
      }
    }
  }
}