body {
  font-size: 14px;
}
body .container {
  padding: 10px;
}
body .container .requestUri {
  padding: 10px;
}
body .container .requestUri h1 {
  font-size: 18px;
  font-weight: bold;
}
body .container .requestUri .requestHash p {
  font-size: 10px;
  color: #cccccc;
}
body .container .requestUri .requestHash th,
body .container .requestUri .requestHash td {
  padding: 10px;
}
body .container .requestUri .requestHash .base {
  background-color: #eeee00;
}
